@charset "utf-8";

/********** Global **********/
/*
 *常用背景色： #0f1c30 #0b0f34 (6,64,102) (29,45,57) (7,33,58) (8,13,28) (15,43,36)
 */
html, body {
	width:100%;
	height:100%;
	min-height:635px;
	font-family:"microsoft yahei", arial, sans-serif;
	background-color:#0f0a28;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
body.bg02 {background-image:url("../images/bg02.png");}
.header {
	margin:0 auto;
	width:100%;
	height:42px;
	max-width:1920px;
	background:url("../images/header-left.png") left center no-repeat, url("../images/header-right.png") right center no-repeat;
	background-size:43% 80%, 43% 80%;
	overflow:hidden;
}
.header h3 {
	margin:0;
	padding:0;
	line-height:42px;
	text-align:center;
	font-size:24px;
	color:#5dc2fe;
}
a：hover{
	text-decoration: none;

}
.img_1 {
    width: 661px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: -8px;
}

.img_1 img {
    width: 640px;
    position: relative;
    top: -135px;
    margin: 0 auto;
    display:block;
}
@media (max-width: 1199px) {
	.header {
		background-size:25% 60%, 25% 60%;
	}
}
.wrapper {position:absolute;top:115px;bottom:0;left:0;right:0;min-height:565px;}
.container-fluid {height:100%;min-height:100%;}
.row {margin-left:-7px;margin-right:-8px;}
.row>div {padding-left:7px;padding-right:8px;}
.xpanel-wrapper {padding-bottom:15px;box-sizing:border-box;}
.xpanel-wrapper-1 {height:100%;}
.xpanel-wrapper-2 {height:50%;}
.xpanel-wrapper-1-3 {height:33.33333%;}
.xpanel-wrapper-2-3 {height:66.66666%;}
.xpanel {
	padding:15px;
	height:100%;
	min-height:170px;
	background:url("../images/panel.png") center no-repeat;
	background-size:100% 100%;
	box-sizing:border-box;
}

/*inform*/
.xpanel .inform{
	width: 100%;
	height: 40px;
	background:rgba(255,255,255,0.2);
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.xpanel .inform img{
	width: 30px;
	height: 30px;
	margin-left: 20px;
	
	
}
.xpanel .inform span{
	color: #E81215;
	font-size: 16px;
	align-items: center;
	margin-left: 15px;
}
.col-sm-6{
	width: 20%;
	height: 35px;
}

/*  修改日历控件类型 */
::-webkit-datetime-edit { padding: 1px; background: url(/study/image/selection.gif); }
::-webkit-datetime-edit-fields-wrapper { background-color: #eee; }
::-webkit-datetime-edit-text { color: #4D90FE; padding: 0 .3em; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-calendar-picker-indicator {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px #fff, 0 1px #eee;
    background-color: #eee;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
    color: #666;
}


/* tool */
.fill-h {height:100%;min-height:100%;}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}
.no-bg {background:none !important;}
.no-border {border:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}