		/*.content{
			width: 748px;
			height:618px;
			position: absolute;
			left: 410px;
			top: 60px;
		}*/
 
		.one{
			background:#ffffff;
			width: 4px;
			height: 4px;
			border: 6px #009FD9 solid;
			border-radius:50%;
			position: relative;
			z-index:100000;
		}
 
		.one p, .one span{
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius:50%;
			animation: myfirst 1.5s  infinite;
			box-shadow: 0px 0px 1px #009FD9; 
			margin: 0px;
		}
		.one  span{
			animation-delay: 0.8s;
		}
 
		 .one{position: absolute;left:600px; top:100px;}  
		 .ten{background: #A2A9B4;position: absolute;left:300px; top:350px;}
 
		@keyframes myfirst{
			10% {transform: scale(1);}
			100% {transform: scale(8);}
		}